<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [1]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [ ]:

!pip install -q pandas==1.1.5

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///RealWorldData.db

### Store the dataset in a Table

##### In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data 
##### using SQL, it first needs to be stored in the database.

##### We will first read the csv files  from the given url  into pandas dataframes

##### Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [4]:
import pandas
df = pandas.read_csv('ChicagoPublicSchools.csv')
df.to_sql("ChicagoPublicSchools", con, if_exists='replace', index=False, method="multi", chunksize=300)

566

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [5]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///RealWorldData.db
Done.

[('chicago_socioeconomic_data',), ('ChicagoPublicSchools',)]

Double-click **here** for the solution.

<!-- Solution using SQLite:

%sql SELECT name FROM sqlite_master WHERE type='table'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [16]:
%%sql
SELECT COUNT(*) FROM ChicagoPublicSchools

 * sqlite:///RealWorldData.db
Done.

[(566,)]

Double-click **here** for the solution.

<!-- Solution SQLite:
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [6]:
import pandas as pd

QUERY = "SELECT * FROM ChicagoPublicSchools"

df = pd.read_sql_query(QUERY,con)

df.dtypes

School_ID                 int64
NAME_OF_SCHOOL           object
ES_MS_HS                 object
Street_Address           object
City                     object
                          ...
COMMUNITY_AREA_NUMBER     int64
COMMUNITY_AREA_NAME      object
Ward                      int64
Police_District           int64
Location                 object
Length: 78, dtype: object

In [77]:
%%sql
SELECT * FROM ChicagoPublicSchools LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49.0, 'Strong', '60', 'Strong', 60.0, 'Average', 55.0, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [44]:
%%sql
SELECT COUNT(ES_MS_HS) FROM ChicagoPublicSchools
WHERE ES_MS_HS = 'ES'

#I changed the column name to ES_MS_HS

 * sqlite:///RealWorldData.db
Done.

[(462,)]

### Problem 2

##### What is the highest Safety Score?

In [45]:
%%sql
SELECT MAX(SAFETY_SCORE) FROM ChicagoPublicSchools

 * sqlite:///RealWorldData.db
Done.

[(99.0,)]

### Problem 3

##### Which schools have highest Safety Score?

In [50]:
%%sql
SELECT NAME_OF_SCHOOL, MAX(SAFETY_SCORE) FROM ChicagoPublicSchools

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School', 99.0)]

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where \
  Safety_Score= (select MAX(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS_DATA)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [48]:
%%sql
SELECT AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL FROM ChicagoPublicSchools
GROUP BY AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL
ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC LIMIT 10

 * sqlite:///RealWorldData.db
Done.

[('98.40%', 'John Charles Haines Elementary School'),
 ('97.80%', 'James Ward Elementary School'),
 ('97.60%', 'Edgar Allan Poe Elementary Classical School'),
 ('97.60%', 'Orozco Fine Arts & Sciences Elementary School'),
 ('97.60%', 'Rachel Carson Elementary School'),
 ('97.50%', 'Annie Keller Elementary Gifted Magnet School'),
 ('97.40%', 'Andrew Jackson Elementary Language Academy'),
 ('97.40%', 'Lenart Elementary Regional Gifted Center'),
 ('97.30%', 'Disney II Magnet School'),
 ('97.20%', 'John H Vanderpoel Elementary Magnet School')]

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [52]:
%%sql
SELECT AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL FROM ChicagoPublicSchools
GROUP BY AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('57.90%', 'Richard T Crane Technical Preparatory High School'),
 ('60.90%', 'Barbara Vick Early Childhood & Family Center'),
 ('62.50%', 'Dyett High School'),
 ('63.00%', 'Wendell Phillips Academy High School'),
 ('66.30%', 'Orr Academy High School')]

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [55]:
%%sql
SELECT REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', ''), NAME_OF_SCHOOL FROM ChicagoPublicSchools
GROUP BY AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('57.90', 'Richard T Crane Technical Preparatory High School'),
 ('60.90', 'Barbara Vick Early Childhood & Family Center'),
 ('62.50', 'Dyett High School'),
 ('63.00', 'Wendell Phillips Academy High School'),
 ('66.30', 'Orr Academy High School')]

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [72]:
%%sql
SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM ChicagoPublicSchools
WHERE CAST(REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70
ORDER BY AVERAGE_STUDENT_ATTENDANCE

 * sqlite:///RealWorldData.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

### Problem 8

##### Get the total College Enrollment for each Community Area

In [75]:
%%sql
SELECT COMMUNITY_AREA_NAME, COUNT(COMMUNITY_AREA_NAME) FROM ChicagoPublicSchools
GROUP BY COMMUNITY_AREA_NAME
ORDER BY COUNT(COMMUNITY_AREA_NAME) DESC

 * sqlite:///RealWorldData.db
Done.

[('AUSTIN', 23),
 ('SOUTH LAWNDALE', 22),
 ('WEST TOWN', 20),
 ('ENGLEWOOD', 17),
 ('NORTH LAWNDALE', 16),
 ('NEAR WEST SIDE', 16),
 ('WEST ENGLEWOOD', 13),
 ('ROSELAND', 13),
 ('NEW CITY', 13),
 ('HUMBOLDT PARK', 13),
 ('EAST GARFIELD PARK', 13),
 ('BELMONT CRAGIN', 12),
 ('LOWER WEST SIDE', 11),
 ('LOGAN SQUARE', 11),
 ('LAKE VIEW', 11),
 ('DOUGLAS', 11),
 ('WEST PULLMAN', 10),
 ('GREATER GRAND CROSSING', 10),
 ('GAGE PARK', 10),
 ('AUBURN GRESHAM', 10),
 ('WEST RIDGE', 9),
 ('WASHINGTON HEIGHTS', 9),
 ('SOUTH SHORE', 9),
 ('IRVING PARK', 9),
 ('CHATHAM', 9),
 ('WOODLAWN', 8),
 ('WEST GARFIELD PARK', 8),
 ('NORWOOD PARK', 8),
 ('GRAND BOULEVARD', 8),
 ('BRIGHTON PARK', 8),
 ('ASHBURN', 8),
 ('ALBANY PARK', 8),
 ('UPTOWN', 7),
 ('SOUTH CHICAGO', 7),
 ('PORTAGE PARK', 7),
 ('NORTH CENTER', 7),
 ('NEAR NORTH SIDE', 7),
 ('LINCOLN PARK', 7),
 ('KENWOOD', 7),
 ('CHICAGO LAWN', 7),
 ('ROGERS PARK', 6),
 ('EDGEWATER', 6),
 ('DUNNING', 6),
 ('CALUMET HEIGHTS', 6),
 ('WASHINGTON PARK', 5),
 ('PULLMAN', 5),
 ('NORTH PARK', 5),
 ('MORGAN PARK', 5),
 ('LINCOLN SQUARE', 5),
 ('GARFIELD RIDGE', 5),
 ('EAST SIDE', 5),
 ('BRIDGEPORT', 5),
 ('WEST LAWN', 4),
 ('SOUTH DEERING', 4),
 ('RIVERDALE', 4),
 ('MOUNT GREENWOOD', 4),
 ('MCKINLEY PARK', 4),
 ('HYDE PARK', 4),
 ('HERMOSA', 4),
 ('CLEARING', 4),
 ('BEVERLY', 4),
 ('AVONDALE', 4),
 ('WEST ELSDON', 3),
 ('NEAR SOUTH SIDE', 3),
 ('FOREST GLEN', 3),
 ('AVALON PARK', 3),
 ('ARMOUR SQUARE', 3),
 ('JEFFERSON PARK', 2),
 ('HEGEWISCH', 2),
 ('FULLER PARK', 2),
 ('EDISON PARK', 2),
 ('ARCHER HEIGHTS', 2),
 ('OHARE', 1),
 ('OAKLAND', 1),
 ('MONTCLARE', 1),
 ('LOOP', 1),
 ('BURNSIDE', 1)]

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [78]:
%%sql
SELECT COMMUNITY_AREA_NAME, COUNT(COMMUNITY_AREA_NAME) FROM ChicagoPublicSchools
GROUP BY COMMUNITY_AREA_NAME
ORDER BY COUNT(COMMUNITY_AREA_NAME) ASC LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('BURNSIDE', 1), ('LOOP', 1), ('MONTCLARE', 1), ('OAKLAND', 1), ('OHARE', 1)]

### Problem 10

##### List 5 schools with lowest safety score.

In [95]:
%%sql
SELECT NAME_OF_SCHOOL, SAFETY_SCORE FROM ChicagoPublicSchools
ORDER BY SAFETY_SCORE ASC NULLS LAST LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('Emil G Hirsch Metropolitan High School', 13.0)]

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [7]:
df = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

78

In [98]:
%%sql
SELECT * FROM chicago_socioeconomic_data LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

In [25]:
%%sql
SELECT C_P.community_area_name, C_S.hardship_index
FROM ChicagoPublicSchools AS C_P
JOIN chicago_socioeconomic_data AS C_S
ON LOWER(C_S.community_area_name) = LOWER(C_P.COMMUNITY_AREA_NAME)
WHERE C_P.COLLEGE_ENROLLMENT = 4368
GROUP BY C_P.community_area_name, C_S.hardship_index

 * sqlite:///RealWorldData.db
Done.

[('NORTH CENTER', 6.0)]

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [37]:
%%sql
SELECT C_P.community_area_name, C_S.hardship_index, C_P.COLLEGE_ENROLLMENT
FROM ChicagoPublicSchools AS C_P
JOIN chicago_socioeconomic_data AS C_S
ON LOWER(C_S.community_area_name) = LOWER(C_P.COMMUNITY_AREA_NAME)
GROUP BY C_P.community_area_name, C_S.hardship_index, C_P.COLLEGE_ENROLLMENT
ORDER BY C_P.COLLEGE_ENROLLMENT DESC LIMIT 1

 * sqlite:///RealWorldData.db
Done.

[('NORTH CENTER', 6.0, 4368)]

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2022-03-04        | 2.2     | Lakshmi Holla     | Made changes in markdown cells |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center">  IBM Corporation 2020. All rights reserved. <h3/>